.tabs {
    width: 100%;
}

.tabs__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    padding-left: var(--spacing-200);
    margin: 0;

    list-style: none;
}

@media (max-width: 600px) {
}

.tabs__list-item {
    position: relative;

    border-radius: 10px 10px 0 0;

    .button {
        border-radius: 10px 10px 0 0;;
    }
}

.tabs__list-item.tabs__list-item--active {
    background-color: var(--color-primary-fg);
}

.tabs__tab {
}

.tabs__upper-content {
    padding: var(--spacing-200);

    background-color: var(--color-primary-fg);
    border-radius: 20px;
}

.tabs__lower-content {
    padding: var(--spacing-200);
}

@media (max-width: 600px) {
    .tabs__upper-content {
        padding: var(--spacing-100);
    }

    .tabs__lower-content {
        padding-inline: 0;
    }
}
