.tabs {
    width: 100%;
}

.tabs__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    padding-left: 40px;
    margin: 0;

    list-style: none;
}

.tabs__list-item {
    position: relative;

    border-radius: 10px 10px 0 0;

    .button {
        border-radius: 10px 10px 0 0;;
    }
}

.tabs__list-item.tabs__list-item--active {
    background-color: var(--color-primary-fg);
}

.tabs__tab {
}

.tabs__upper-content {
    padding: var(--spacing-200);

    background-color: var(--color-primary-fg);
    border-radius: 20px;
}

.tabs__lower-content {
    padding: var(--spacing-200);
}
