.idea/*
.git_back
!.idea/runConfigurations
!.idea/tailwindcss.xml
!.idea/externalDependencies.xml
*.iml
/tmp
.DS_Store
.npmrc
.env

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

