.investitionen-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--spacing-100);
    padding: var(--spacing-100);

    .card__content {
        align-items: center;
        justify-content: center;
        min-height: 100px;

        i {
            font-size: 3rem;
        }
    }
}

.immoblien {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-100);
    padding: var(--spacing-100);
    align-items: stretch;

    .card {
        cursor: default;
    }

    .card__content {
        flex-shrink: 0;
        height: auto;

        .button {
            margin-top: var(--spacing-100);
        }
    }
}
