.investment-types {
    padding: var(--spacing-100);
    margin-top: var(--spacing-100);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-200);
    align-items: center;
}

.investment-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);

    h4 {
        margin: 0;
    }
}


.investments__form {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.investments__form-price {
    display: flex;
    gap: var(--spacing-25);
    align-items: center;
    height: var(--button-height);

    font-size: var(--font-size-xl);
    white-space: nowrap;
}

.investments__form-amount {
    text-align: center;

    label {
        display: block;
        margin-bottom: var(--spacing-50);

        font-weight: var(--font-weight-bold);
        line-height: inherit;
    }
}

.investments__form-sum {
    text-align: center;

    strong {
        display: block;
        margin-bottom: var(--spacing-50);
    }

    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--button-height);
    }
}

.buy-investments__hints {
    margin-top: var(--spacing-200);
    padding-top: var(--spacing-200);

    border-top: 1px solid var(--color-grey);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: var(--spacing-100);

        font-size: var(--font-size-sm);
    }
}
