.card-piles {
    display: flex;
    gap: var(--spacing-100);
}

.card-pile {
    > h3 {
        border-bottom: 1px solid var(--color-grey);
    }
}

.card-pile__cards {
    position: relative;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: var(--spacing-100);
}

.card-pile__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 400px;
    max-width: 100%;
    padding: var(--spacing-50);

    border: 1px solid var(--color-grey);
    border-radius: 15px 50px;
    background-color: var(--color-primary-fg);
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-pile__card-details {
    transition: all 0.5s ease;
}

.card-pile__card--show-actions .card-pile__card-details {
    filter: blur(1.1px);
}

.card-pile__card-actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-100);
    gap: var(--spacing-50);
    margin-top: auto;

    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(0);

    z-index: 10;

    .button {
        width: 100%;
    }
}
