.job-offers {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-100);
    padding: var(--spacing-100);
    align-items: stretch;

    .card__title {
        margin-top: var(--spacing-100);
    }

    .card__content {
        align-items: flex-start;
        justify-content: center;
        flex-shrink: 0;
        height: auto;

        .button {
            margin-top: var(--spacing-100);
        }
    }
}

.job-offer__requirements {
    text-align: center;

    h5 {
        margin-top: var(--spacing-100);
        margin-bottom: 0;

        font-weight: var(--font-weight-medium);
        text-align: center;
        font-size: var(--font-size-sm);
    }

    .kompetenzen {
        padding: 0;
        justify-content: center;

        background-color: transparent;
    }
}

.job-offers__header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-100);
}

.job-offers__header-info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--spacing-100);

    font-size: var(--font-size-base);
}

.job-offers__header-category {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--spacing-50);

    i {
        font-size: var(--font-size-xxl);
    }
}
