.log {
    background-color: var(--color-primary-fg);
    overflow: scroll;

    & > ul {
        padding: 0 5px;
        margin: 0;
    }
}

.log__event {
    list-style: none;
    padding: 5px 20px;
    margin-top: 5px;
}

.log__event-item {
    list-style: none;
}
