.player-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
}

.player-list__player {
    padding-top: var(--spacing-50);
    padding-bottom: var(--spacing-50);
}

.player-list__player--is-active {
    border-bottom: 2px solid var(--color-primary);
}


