.zeitsteine {
    display: flex;
    gap: var(--spacing-25);
    list-style: none;
    margin: 0;
    padding: 0;
}

.zeitsteine__item {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.zeitsteine__item.zeitsteine__item--is-empty {
}

.zeitsteine__item.player-color-1 {
}

.zeitsteine__item.player-color-2 {
}

.zeitsteine__item.player-color-3 {
}

.zeitsteine__item.player-color-4 {
}
