.zeitsteine {
    display: flex;
    gap: var(--spacing-25);
    list-style: none;
    margin: 0;
    padding: 0;
}

.zeitsteine__item {
    display: inline-block;
    width: 20px;
    height: 20px;

    svg {
        height: 100%;
        width: 100%;
    }
}

.zeitsteine__item.zeitsteine__item--is-empty {
    svg path {
        fill: var(--color-grey);
    }
}

.zeitsteine__item.player-color-1 {
    svg path.zeitstein-cylinder {
        fill: var(--color-player-1--dark);
    }

    svg .zeitstein-top {
        fill: var(--color-player-1);
    }

    svg .zeitstein-clock {
        fill: var(--color-player-1--super-dark);
    }
}

.zeitsteine__item.player-color-2 {
    svg path.zeitstein-cylinder {
        fill: var(--color-player-2--dark);
    }

    svg .zeitstein-top {
        fill: var(--color-player-2);
    }

    svg .zeitstein-clock {
        fill: var(--color-player-2--super-dark);
    }
}

.zeitsteine__item.player-color-3 {
    svg path.zeitstein-cylinder {
        fill: var(--color-player-3--dark);
    }

    svg .zeitstein-top {
        fill: var(--color-player-3);
    }

    svg .zeitstein-clock {
        fill: var(--color-player-3--super-dark);
    }
}

.zeitsteine__item.player-color-4 {
    svg path.zeitstein-cylinder {
        fill: var(--color-player-4--dark);
    }

    svg .zeitstein-top {
        fill: var(--color-player-4);
    }

    svg .zeitstein-clock {
        fill: var(--color-player-4--super-dark);
    }
}
