.zeitsteine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-25);
    list-style: none;
    margin: 0;
    padding: 0;
}

.zeitstein {
    display: inline-block;
    width: 15px;
    height: 15px;

    svg {
        height: 100%;
        width: 100%;
    }
}
