.loans {

}

.loans__summary {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
}

.loans__summary-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);
    justify-content: center;

    .text--currency {

    }
}
