.loans {

}

.loans__summary {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: var(--spacing-200);
}

@media (max-width: 600px) {
    .loans__summary {
        flex-direction: column;
        padding-inline: 0;
        align-items: center;
        gap: var(--spacing-100);
    }
}


.loans__summary-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);
    justify-content: center;

    .text--currency {

    }
}


