.take-out-loan {
    display: grid;
    grid-template-areas:
        "form info"
        "actions actions";

    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-100);
}

.take-out-loan__form {
    grid-area: form;

}

.take-out-loan__info {
    grid-area: info;

}

.take-out-loan__actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-100);
}
