.taxes {
    margin-top: var(--spacing-200);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    justify-content: flex-end;
    align-items: flex-end;

    .form-group {
        align-items: flex-end;
    }
}

@media (max-width: 600px) {
    .taxes {
        flex-direction: column;

        .form-group {
            align-items: stretch;
        }
    }
}


.taxes__actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    align-items: center;
    justify-content: flex-end;

    .badge-with-background {
        width: auto;

        text-align: left;
        justify-content: flex-start;
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 600px) {
    .taxes__actions {
        align-items: center;
    }
}
