parameters:
    level: 1
    paths:
        - Packages
        - Build
        # add more path if necessary, e.g. for plugins
    excludePaths:
        analyse:
            - Packages/Application
            - Packages/Carbon
            - Packages/Framework
            - Packages/Libraries
            - Packages/Plugins
            - Build
