
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/staabm/phpstan-todo-by/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon

    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - disallowed-calls.neon

parameters:

    #############
    # generic settings
    #############
    paths:
        - app/
        - src/

    scanFiles:
        - _ide_helper_models.php
        #- _ide_helper.php

    # Level 10 is the highest level
    level: 10
    reportMaybesInPropertyPhpDocTypes: false

    #############
    # larastan: https://github.com/larastan/larastan/blob/3.x/docs/rules.md
    #############
    checkModelProperties: true
    checkOctaneCompatibility: true
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true

    #############
    # spaze/phpstan-disallowed-calls
    #############
