.kompetenzen-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-100);
    padding: var(--spacing-100);

    text-align: center;
}

.kompetenzen-overview__category {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    h4 {
        margin-bottom: var(--spacing-100);
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-sm);
    }

    .kompetenzen {
        justify-content: center;
        margin-top: auto;
        padding-inline: var(--spacing-100);
        height: var(--button-height);

        border-radius: 40px;
        background-color: var(--color-primary-fg);
    }
}

@media (max-width: 768px) {
    .kompetenzen-overview__category .kompetenzen {
        .kompetenz-icon {
            width: 22px;
        }
    }
}

.kompetenzen-overview__investitionen-target {
    position: absolute;
    bottom: -30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-50);
}

.kompetenzen-overview__money-sheet-button {
    .button {
        position: relative;
        width: 100%;
        margin-top: auto;

        text-align: center;
        justify-content: center;
        font-size: var(--font-size-xl);
    }

    > i {
        position: absolute;
        top: -8px;
        right: var(--spacing-100);
    }
}

.kompetenzen-overview__action-required {
    position: absolute;
    height: 16px;
    width: 16px;
    right: var(--spacing-100);
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-primary-dark);
    border-radius: 50%;

    i {
        color: var(--color-primary-fg);
        font-size: 12px;
    }

    &.kompetenzen-overview__action-required--active {
        background-color: var(--color-error);
    }
}
