.kompetenzen-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-100);
    padding: var(--spacing-100);

    text-align: center;
}

.kompetenzen-overview__category {
    h4 {
        margin-bottom: var(--spacing-100);
    }

    .button {
        width: 100%;
        margin-bottom: var(--spacing-50);

        text-align: center;
        justify-content: center;
        font-size: var(--font-size-5);
    }
}

.kompetenzen-overview__investitionen-target {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-50);
}
