.moneysheet {
    display: grid;
    grid-template-areas:
        "income     expenses     .  "
        "income-sum expenses-sum sum"
    ;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: auto 50px;
    gap: 10px;
}

.moneysheet__income {
    grid-area: income;
}

.moneysheet__expenses {
    grid-area: expenses;
}

.moneysheet__expenses-sum {
    grid-area: expenses-sum;
    text-align: right;
}

.moneysheet__income-sum {
    grid-area: income-sum;
    text-align: right;
}

.moneysheet__sum {
    grid-area: sum;
}
