.take-out-loan {
    margin: auto;
    padding-top: var(--spacing-200);
    width: 100%;
    display: grid;
    grid-template-areas:
        "info amount sum repayment"
        "action action action action";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

    gap: var(--spacing-100);
}

@media (max-width: 600px) {
    .take-out-loan {
        grid-template-areas:
        "info info info"
        "amount sum repayment"
        "action action action";
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}


.take-out-loan__info-box {
    grid-area: info;
    padding: var(--spacing-100);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);

    background: var(--color-semi-transparent);
    border-radius: 10px;

    i {
        font-size: var(--font-size-xl);
        color: var(--color-grey);
    }
}

@media (max-width: 600px) {
    .take-out-loan__info-box {
        flex-direction: row;
        justify-content: space-between;
    }
}

.take-out-loan__info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-25);

    text-align: center;
}

.take-out-loan__amount {
    grid-area: amount;
}

.take-out-loan__sum {
    grid-area: sum;
}

.take-out-loan__repayment {
    grid-area: repayment;
}

.take-out-loan__amount,
.take-out-loan__sum,
.take-out-loan__repayment {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);

    label, > strong {
        display: block;
        padding-inline: var(--spacing-100);

        font-weight: var(--font-weight-bold);
    }

    p {
        display: block;
        padding-inline: var(--spacing-100);
    }

    .form-error {
        display: block;
        padding-inline: var(--spacing-100);
        font-size: var(--font-size-sm);
    }
}

.take-out-loan__sum,
.take-out-loan__repayment {
    span {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: var(--button-height);
        padding-inline: var(--spacing-100);
    }
}

.take-out-loan__actions {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-100);
    align-items: center;
}
