
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--spacing-50);
    gap: var(--spacing-100);

    border: 1px solid var(--color-cards-border);
    border-radius: 10px;
    background-color: var(--color-cards-bg);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &.card--disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.shadow-card-1, .shadow-card-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #656464;
    border-radius: 10px;

    transform-origin: bottom left;
}

@media (max-width: 768px) {
    .shadow-card-1, .shadow-card-2 {
        display: none;
    }
}

.shadow-card-1 {
    z-index: -1;
    transform: rotate(-4deg) scale(0.9) translateY(-3px);
    opacity: 0.3;
}

.shadow-card-2 {
    z-index: -2;
    transform: rotate(-7deg) scale(0.85) translateY(-3px);
    opacity: 0.2;
}

.card__icon {
    text-align: right;
    font-size: var(--font-size-xl);
}

.card__title {
    margin: 0;
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    text-align: center;
    hyphens: auto;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
}

.card__content {
    padding: var(--spacing-75);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    background-color: var(--color-primary-fg);
    border-radius: 10px;

    .resource-change {
        font-size: var(--font-size-lg);

        i.text--danger, i.text--success {
            font-size: var(--font-size-sm);
        }
    }

    &.card__content--center {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .resource-changes {
            align-items: center;
        }
    }
}

.card__content--jobs {
    justify-content: center;

    i {
        font-size: 3rem;
    }
}

.card__content--investitionen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: var(--spacing-25);

    i {
        font-size: 1.5rem;
    }
}

.card__actions-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card__actions-header-category {
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    gap: var(--spacing-50);
    flex-wrap: nowrap;

    i {
        font-size: var(--font-size-xxl);
    }
}

.card__actions-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-100);

    .card__effects {
        margin-right: auto;
    }
}
