
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: var(--spacing-50);

    border-radius: 10px;
    background-color: var(--color-cards-bg);
    cursor: pointer;
}

.card__icon {
    text-align: right;
}

.card__title {
    text-align: center;
    margin-bottom: var(--spacing-100);
}

.card__content {
    padding: var(--spacing-100);

    background-color: var(--color-primary-fg);
    border-radius: 10px;
}

.card__effects {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);

    &.card__effects--horizontal {
        flex-direction: row;

        .card__effect {
            padding-right: var(--spacing-100);

            border-right: 1px solid var(--color-grey);

            &:last-child {
                padding-right: 0;

                border-right: none;
            }
        }
    }
}

.card__effect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-50);

    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-light);

    i.text--danger, i.text--success {
        font-size: var(--font-size-base);
    }
}


.card__actions-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-100);

    .card__effects {
        margin-right: auto;
    }
}
