
.game-board {
}

.game-board__konjukturphase {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--spacing-100);
    gap: var(--spacing-100);

    .button {
        flex-shrink: 0;
        padding-inline: 1px;
        color: var(--color-primary-dark);
        font-weight: bold;
        font-size: 1.2rem;
    }

    hr {
        width: 100%;
    }
}

