.game {
    display: grid;
    grid-template-areas:
        "header header"
        "board  aside"
        "footer footer"
    ;
    grid-template-columns: 3fr 1fr;
}

.game__header {
    display: flex;
    grid-area: header;
    flex-direction: row;
    align-items:  center;
    gap: var(--spacing-100);
    padding-top: var(--spacing-100);
    padding-bottom: var(--spacing-100);

    > h2 {
        margin: 0;
    }
}

.game__board {
    grid-area: board;
    padding: var(--spacing-100);
}

.game__aside {
    grid-area: aside;
    padding: var(--spacing-100);
}

.game__footer {
    grid-area: footer;
}
