.game {
    display: grid;
    grid-template-areas:
        "header header"
        "content aside";
    grid-template-columns: 3fr 1fr;
}

.game__header {
    grid-area: header;
}

.game__content {
    grid-area: content;
}

.game__aside {
    grid-area: aside;
    padding: var(--spacing-100);

    background-image: radial-gradient(75% 75% at 50% 50%, #ECEEF6 0%, #ECF5F4 100%);
}
