:root {
    --header-height: 40px;
}

.game {
    display: grid;
    grid-template-areas:
        "header header"
        "content aside";
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
}

.game__header {
    grid-area: header;
    position: relative;
    min-height: var(--header-height);
}

.game__content {
    grid-area: content;
}

.game__aside {
    grid-area: aside;
    padding: var(--spacing-100);

    background-image: radial-gradient(75% 75% at 50% 50%, #ECEEF6 0%, #ECF5F4 100%);
}
