.konjunkturphase-start__actions {
    position: sticky;
    top: 0;
    z-index: var(--z-index-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--color-primary);
    background: var(--color-primary-fg);

    /* Full-bleed breakout from max-width container */
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

.konjunkturphase-start__content {
    padding: 20px;
    width: 100%;
}

.konjunkturphase-start__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 50px);

    h1 {
        margin-bottom: var(--spacing-100);
        font-weight: var(--font-weight-regular);
    }

    h2 {
        margin-bottom: var(--spacing-50);
        font-weight: var(--font-weight-regular);
    }
}

.konjunkturphase-start__image {
    max-width: 100%;
    margin-top: var(--spacing-200);
    border-radius: 10px;
}

.konjunkturphase-comparison {
    display: table;
    width: unset;
    border-collapse: collapse;
    margin-top: var(--spacing-200);

    th, td {
        padding: var(--spacing-50) var(--spacing-100);
        text-align: left;
    }

    th {
        border-bottom: 2px solid var(--color-primary);
        font-weight: var(--font-weight-bold);
    }

    td {
        border-bottom: 1px solid var(--color-grey);
    }
}
