.konjunkturphase-summary {

}

.konjunkturphase-summary__tabs {
    display: flex;
    padding: 0 0 3px 0;
    background-color: #ccc;
}

.konjunkturphase-summary__tab {
    list-style: none;
    padding: 10px;

    &.konjunkturphase-summary__tab--is-active {
        background-color: #fff;
    }
}
