.lebensziele {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    list-style: none;
    margin: 0;
    padding: 0;
}

.lebensziel {
    padding: var(--spacing-100);
    border: 1px solid #ccc;

    &:not(.lebensziel--is-selected):hover {
        background-color: #f0f0f0;
    }
}

.lebensziel--is-selected {
    background-color: var(--color-primary);
    color: var(--color-primary-fg);
}
