.instant-actions {
    padding-inline: var(--spacing-100);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-250);
    padding-bottom: var(--spacing-100);
}

@media (max-width: 768px) {
    .instant-actions {
        gap: var(--spacing-100);
    }
}

@media (max-width: 700px) {
    .instant-actions {
        grid-template-columns: 1fr;
        gap: var(--spacing-100);
    }
}


.instant-action {
    .button {
        width: 100%;
        justify-content: space-between;
    }

    .kompetenz-icon {
        width: 22px;
    }
}
