.button {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-50);
    padding: var(--spacing-50) var(--spacing-100);
    min-height: 40px;
    border-radius: 0.25rem;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:disabled,
.button--disabled,
.button:disabled:hover,
.button--disabled:hover {
    cursor: default;
    filter: saturate(10%);
}

.button--type-primary {
    background: var(--color-primary);
    color: var(--color-primary-fg);

    &:hover:not(&.button--disabled) {
        background: var(--color-primary-dark);
    }
}

.button--type-outline-primary {
    background: var(--color-primary-fg);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover:not(&.button--disabled) {
        background: var(--color-primary);
        color: var(--color-primary-fg);
    }
}

.button--type-text {
    background: transparent;
    color: var(--color-primary);
}

.button--size-small {
    padding: var(--spacing-25) var(--spacing-50);
    min-height: 30px;
    font-size: 0.875rem;
}
