.form__group {
    margin-bottom: var(--spacing-100);
    display: flex;
    flex-direction: column;

    label {
        margin-bottom:  var(--spacing-50);
    }

}


.form__error {
    color: var(--color-error);
    margin-top: var(--spacing-50);
    margin-bottom: var(--spacing-100);
}
