form {
    label {
        line-height: inherit;
    }
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.form-group__label {

}

.form-group__input {
    height: var(--button-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-100);
    font-size: var(--font-size-xl);
}

.form__error {
    color: var(--color-error);
}

input {
    &:focus-visible {
        outline: 2px solid var(--color-focus);
        outline-offset: 2px;
    }
}

input[type="number"] {
    text-align: right;
}
