@font-face {
    font-family: 'icomoon';
    src:
        url('/fonts/icomoon.woff2?8dr2y7') format('woff2'),
        url('/fonts/icomoon.ttf?8dr2y7') format('truetype'),
        url('/fonts/icomoon.woff?8dr2y7') format('woff'),
        url('/fonts/icomoon.svg?8dr2y7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lock-closed:before {
    content: "\e91f";
}
.icon-lock-open:before {
    content: "\e920";
}
.icon-dots:before {
    content: "\e90d";
}
.icon-jobboerse:before {
    content: "\e918";
}
.icon-burger:before {
    content: "\e91a";
}
.icon-close:before {
    content: "\e91b";
}
.icon-close-round:before {
    content: "\e91c";
}
.icon-euro:before {
    content: "\e91d";
}
.icon-zeitstein:before {
    content: "\e91e";
}
.icon-lupe-2:before {
    content: "\e900";
}
.icon-ereignis:before {
    content: "\e901";
}
.icon-immobilien:before {
    content: "\e902";
}
.icon-phase-1:before {
    content: "\e903";
}
.icon-lupe:before {
    content: "\e904";
}
.icon-phase-3:before {
    content: "\e905";
}
.icon-bildung-und-karriere:before {
    content: "\e906";
}
.icon-phase-2:before {
    content: "\e907";
}
.icon-info:before {
    content: "\e908";
}
.icon-info-2:before {
    content: "\e921";
}
.icon-edelmetalle:before {
    content: "\e909";
}
.icon-plus:before {
    content: "\e90a";
}
.icon-weiterbildung:before {
    content: "\e90b";
}
.icon-sanduhr:before {
    content: "\e90c";
}
.icon-erwerbseinkommen:before {
    content: "\e90e";
}
.icon-aktien:before {
    content: "\e90f";
}
.icon-insolvent-2:before {
    content: "\e910";
}
.icon-phasenwechsel:before {
    content: "\e911";
}
.icon-fehler:before {
    content: "\e912";
}
.icon-log-ausklappen:before {
    content: "\e913";
}
.icon-ETF:before {
    content: "\e914";
}
.icon-krypto:before {
    content: "\e915";
}
.icon-minus:before {
    content: "\e916";
}
.icon-freizeit-und-soziales:before {
    content: "\e917";
}
.icon-skippen:before {
    content: "\e919";
}
