.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    padding-top: var(--spacing-200);
    padding-inline: var(--spacing-200);
}

.container.container--no-padding {
    padding-top: 0;
    padding-inline: 0;
}

.container.container--with-footer {
    padding-bottom: 50px;
}

.dev-bar {
    position: fixed;
    z-index: 999;
    left: var(--spacing-100);
    bottom: var(--spacing-100);
}

hr {
    margin-top: var(--spacing-200);
    margin-bottom: var(--spacing-200);

    border-top: 1px solid var(--color-grey);
    border-style: solid;
    border-color: var(--color-grey);
}

.content {
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-200);
}
