table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--font-size-base);

    th {
        font-weight: var(--font-weight-regular);
    }

    td, th {
        position: relative;
        padding: var(--spacing-50);

        border: none;

        text-align: left;
    }
}
