table {
    width: 100%;
    border-collapse: collapse;

    th {
        font-weight: var(--font-weight-medium);
    }

    td, th {
        position: relative;
        padding: var(--spacing-50);

        border: none;

        text-align: left;
    }
}
