:root {
    --color-primary: #5e7aa5;
    --color-primary-dark: #4a6287;
    --color-primary-light: #95b8e3;
    --color-primary-fg: #ffffff;
    --color-error: #d9534f;
    --color-warning: #f0ad4e;
    --color-grey: #888;
}
