@import "./reset.css";
@import "./colors.css";
@import "./spacing.css";
@import "./z-index.css";
@import "./typography.css";
@import "./app/icons.css";
@import "./app/layout.css";
@import "./app/button.css";
@import "./app/form.css";
@import "./app/table.css";
@import "./app/svgIcons.css";

/* NOTE: Components are included automatically via Vite, see app.js */

body {
    font-family: var(--font-family-sans);
    color: var(--color-primary-dark);

    background-attachment: fixed;
    background-image: conic-gradient(from 0deg at 50% 50%, #fff6dc 20%, #eefbef 30%, #d5eff8 70%, #fff6dc 100%);
}
