@import "./reset.css";
@import "./colors.css";
@import "./spacing.css";
@import "./z-index.css";
@import "./typography.css";
@import "./app/layout.css";
@import "./app/button.css";
@import "./app/form.css";
@import "./app/table.css";

/* NOTE: Components are included automatically via Vite, see app.js */

body {
    font-family: var(--font-family-sans);
    color: var(--color-primary-dark);

    background-image: radial-gradient(circle, #97e2fe, #8febeb, #a7f0ce, #d0efb3, #FEE9A6);
}
