:root {
    --spacing-25: 0.25rem;
    --spacing-50: 0.5rem;
    --spacing-75: 0.75rem;
    --spacing-100: 1rem;
    --spacing-150: 1.5rem;
    --spacing-200: 2rem;
    --spacing-250: 2.5rem;
    --spacing-300: 3rem;

    --button-height: 40px;
    --button-height--small: 30px;
}
