:root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-tight: 1.1;
    --line-height-normal: 1.5;
    --line-height-loose: 1.8;
}

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3, h4, h5, h6 {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: var(--spacing-100);

    text-wrap: pretty;
    color: var(--color-primary-dark);
    font-weight: var(--font-weight-bold);

    i {
        color: inherit;
        margin-right: var(--spacing-50);
    }
}

i {
    color: var(--color-primary-dark);
}

.text-align--center {
    text-align: center;
}

.text-align--right {
    text-align: right;
}

.text--currency {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-25);

    white-space: nowrap;

    i {
        font-size: .8em;
    }
}

.font-size--sm {
    font-size: var(--font-size-sm);
}

.font-size--base {
    font-size: var(--font-size-base);
}

.font-size--lg {
    font-size: var(--font-size-lg);
}

.font-size--xl {
    font-size: var(--font-size-xl);
}

.text--danger {
    color: var(--color-error) !important;
}

.text--success {
    color: var(--color-success) !important;
}

p {
    margin-top: 0;
    margin-bottom: var(--spacing-50);
}

small {
    font-size: var(--font-size-sm);
}

a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--color-primary-dark);

    &:focus-visible {
        outline: 2px solid var(--color-focus);
        outline-offset: 2px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.badge-with-background {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: var(--button-height);
    padding-inline: var(--spacing-100);
    gap: var(--spacing-50);

    background-color: var(--color-semi-transparent);
    border-radius: 999px;

    text-align: center;
}
