:root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --line-height-tight: 1.1;
    --line-height-normal: 1.5;
    --line-height-loose: 1.8;

    --font-family-sans: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.text-align--right {
    text-align: right;
}

.text--currency {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-25);

    white-space: nowrap;

    i {
        font-size: .8em;
    }
}

.font-size--sm {
    font-size: var(--font-size-sm);
}

.font-size--xl {
    font-size: var(--font-size-xl);
}

.text--danger {
    color: var(--color-error);
}

.text--success {
    color: var(--color-success);
}

p {
    margin: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
