:root {
    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.125rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1.5rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --line-height-tight: 1.1;
    --line-height-normal: 1.5;
    --line-height-loose: 1.8;

    --font-family-sans: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.text-align--right {
    text-align: right;
}

.font-size--lg {
    font-size: var(--font-size-5);
}
