.konjunkturphase-summary-table {
    border-collapse: collapse;
    border: none;

    th, td {
        border: none;
    }
}

.konjunkturphase-summary-table__name-column {
    padding-left: var(--spacing-150);
}

@media (max-width: 600px) {
    .konjunkturphase-summary-table__name-column {
        padding-left: var(--spacing-50);
    }
}

.konjunkturphase-summary-table__value-column {
    text-align: right;
}

.konjunkturphase-summary-table__bottom-row {
    border-bottom: 1px solid;
}
