.form__textfield {
    padding-inline: var(--spacing-100);
    height: var(--button-height);
}

.form__textfield.player-color-1 {
    border-color: var(--color-player-1--dark);

    &:focus:not(:disabled), &:hover:not(:disabled) {
        border-color: var(--color-player-1--dark);
        box-shadow: 0 0 4px var(--color-player-1--dark);
    }
}

.form__textfield.player-color-2 {
    border-color: var(--color-player-2--dark);

    &:focus:not(:disabled), &:hover:not(:disabled) {
        border-color: var(--color-player-2--dark);
        box-shadow: 0 0 4px var(--color-player-2--dark);
    }
}

.form__textfield.player-color-3 {
    border-color: var(--color-player-3--dark);

    &:focus:not(:disabled), &:hover:not(:disabled) {
        border-color: var(--color-player-3--dark);
        box-shadow: 0 0 4px var(--color-player-3--dark);
    }
}

.form__textfield.player-color-4 {
    border-color: var(--color-player-4--dark);

    &:focus:not(:disabled), &:hover:not(:disabled) {
        border-color: var(--color-player-4--dark);
        box-shadow: 0 0 4px var(--color-player-4--dark);
    }
}
