.form__textfield {
    padding-inline: var(--spacing-100);
    height: var(--button-height);

    border: 1px solid var(--color-grey);
    border-radius: 9999px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;

    &:focus, &:hover {
        outline: none;
    }
}

.form__textfield.player-color-1 {
    border-color: var(--color-player-1--dark);

    &:focus, &:hover {
        border-color: var(--color-player-1--dark);
        box-shadow: 0 0 4px var(--color-player-1--dark);
    }
}

.form__textfield.player-color-2 {
    border-color: var(--color-player-2--dark);

    &:focus, &:hover {
        border-color: var(--color-player-2--dark);
        box-shadow: 0 0 4px var(--color-player-2--dark);
    }
}

.form__textfield.player-color-3 {
    border-color: var(--color-player-3--dark);

    &:focus, &:hover {
        border-color: var(--color-player-3--dark);
        box-shadow: 0 0 4px var(--color-player-3--dark);
    }
}

.form__textfield.player-color-4 {
    border-color: var(--color-player-4--dark);

    &:focus, &:hover {
        border-color: var(--color-player-4--dark);
        box-shadow: 0 0 4px var(--color-player-4--dark);
    }
}
