.player-list {
    position: absolute;
    width: 100%;
    z-index: var(--z-index-player-list);
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2px;
    height: var(--header-height);

    background-color: var(--color-primary-fg);
    overflow: hidden;

    transition: height 0.3s ease-in-out;
}

.player-list.player-list--show-details {
    left: 0;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.player-list__player {
    position: relative;
    background: var(--color-player-list-bg);
    padding-top: var(--spacing-50);
    display: flex;
    flex-direction: column;

    .zeitsteine {
        margin-left: auto;
        flex-wrap: nowrap;
        flex-shrink: 0;
    }

    .zeitsteine__label-mobile {
        margin-left: auto;
    }

    > .button {
        padding: var(--spacing-50);
        padding-top: var(--spacing-25);
        width: 100%;
        flex-direction: row;
        min-height: unset;
        gap: var(--spacing-25);

        border-radius: 0;

        color: var(--color-primary-fg);
    }
}

@media (max-width: 768px) {
    .player-list__player .zeitsteine {
        display: none;
    }
}

.player-list__player-turn-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--spacing-50);

    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.player-list__player.player-color-1 {
    border-top-color: var(--color-player-1);
    background: linear-gradient(90deg, var(--color-player-list-bg) 0%, var(--color-player-1--super-dark) 100%);

    .player-list__player-turn-indicator {
        background: linear-gradient(90deg, var(--color-player-1), var(--color-player-1--dark), var(--color-player-1));
        background-size: 400% 400%;
    }
}

.player-list__player.player-color-2 {
    border-top-color: var(--color-player-2);
    background: linear-gradient(90deg, var(--color-player-list-bg) 0%, var(--color-player-2--super-dark) 100%);

    .player-list__player-turn-indicator {
        background: linear-gradient(-90deg, var(--color-player-2), var(--color-player-2--dark), var(--color-player-2));
        background-size: 400% 400%;
    }
}

.player-list__player.player-color-3 {
    border-top-color: var(--color-player-3);
    background: linear-gradient(90deg, var(--color-player-list-bg) 0%, var(--color-player-3--super-dark) 100%);

    .player-list__player-turn-indicator {
        background: linear-gradient(-90deg, var(--color-player-3), var(--color-player-3--dark), var(--color-player-3));
        background-size: 400% 400%;
    }
}

.player-list__player.player-color-4 {
    border-top-color: var(--color-player-4);
    background: linear-gradient(90deg, var(--color-player-list-bg) 0%, var(--color-player-4--super-dark) 100%);

    .player-list__player-turn-indicator {
        background: linear-gradient(-90deg, var(--color-player-4), var(--color-player-4--dark), var(--color-player-4));
        background-size: 400% 400%;
    }
}

.player-list__player-phase {
    font-size: var(--font-size-xxl);

    i {
        color: var(--color-primary-fg);
    }
}

.player-list__player-name {
    flex-grow: 0;
    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
    font-size: var(--font-size-lg);
}

.player-list__player-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: var(--spacing-100);
    padding: var(--spacing-50);

    color: var(--color-primary-fg);
}

.player-list__player-details-job {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
}

.player-list__player-details-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);

    .button {
        margin-bottom: var(--spacing-100);
    }

    i.icon-phasenwechsel {
        color: var(--color-primary-fg);
    }
}

.player-list__player-details-guthaben {
    padding: var(--spacing-50) var(--spacing-100);

    border: 1px solid var(--color-primary-fg);
    border-radius: 999px;
}

.button.player-list__close-button {
    position: absolute;
    right: 0;
    bottom: var(--spacing-50);
    z-index: 10;

    border-radius: 999px 0 0 999px;
}
