.kompetenzen {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-50);
}

.kompetenz-icon {
    display: inline-block;
    width: 30px;

    svg {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .kompetenz-icon {
        width: 22px;
    }
}
