.kompetenzen {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-50);
}

.kompetenz-icon {
    display: inline-block;
    width: 25px;

    svg {
        height: 100%;
        width: 100%;
    }
}
